@{
ViewBag.Title = "Summary";
}

<main class="text-center">
<h1 class="h4">Meeting Summary</h1>
<p>there are 20 participants with you</p>
<a href="/Meeting/List" class="btn btn-sm btn-outline-primary">Show List</a>
</main>
